@page "/"

<PageTitle>Home</PageTitle>

<h1>NEM (National Energy Market) Sim - Coming Soon!</h1>

<section>
    <p>The purpose of this project is to answer the following questions regarding Australia's National Energy Market:</p>

    <ul>
        <li>What is the cost of electricity in 2030 should we achieve the 82% Renewable Energy Generation Target?</li>
        <li>How does a data centre boom affect this given that operators are governed by <a href="https://www.industry.gov.au/publications/expectations-data-centres-and-ai-infrastructure-developers" target="_blank">expectations not legislation</a>?</li>
    </ul>
</section>

<section>
    <p>Whilst models, projections, reports and news headlines already exist in this space this work is set out as an open, rather than a black, box.</p>
</section>